<div class="timer" *ngIf="checkReleased()">
  <ng-container *ngIf="yearsToDDay > 0">
    <span id="years">{{ yearsToDDay }}</span> <small>Year(s)</small>
  </ng-container>
  <ng-container *ngIf="monthsToDDay > 0">
    <span id="months">{{ monthsToDDay }}</span>
    <small>Months</small></ng-container
  >
  <ng-container *ngIf="daysToDDay > 0">
    <span id="days">{{ daysToDDay }}</span>
    <small>Days(s)</small></ng-container
  >
  <ng-container *ngIf="hoursToDDay > 0"
    ><span id="hours">{{ hoursToDDay }} </span
    ><small>Hours</small></ng-container
  >
  <ng-container *ngIf="minutesToDDay > 0"
    ><span id="minutes">{{ minutesToDDay }}</span>
    <small>Mins</small></ng-container
  >
  <ng-container
    ><span id="seconds">{{ secondsToDDay }}</span>
    <small>Secs</small></ng-container
  >
</div>
