.timer {
  text-align: center;
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.timer span {
  font-size: 14px;
  color: #fff;
}

.timer span:not(:first-child) {
  margin-left: 10px;
}

.timer small {
  color: #fff;
}
