<ng-container *ngIf="tvShow">
  <app-youtube-player
  [videoId]="tvShow.trailer_url | youtubeId"
  *ngIf="tvShow.trailer_url.includes('youtu.be'); else iframePlayer"
></app-youtube-player>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="form-group row">
          <h1 class="col-8 display-1">
            {{ tvShow.title }}
            <h3 class="display-3 m-0" *ngIf="tvShow.directed_by && tvShow.directed_by!=null">
              Directed By: {{ tvShow.directed_by }}
            </h3>
          </h1>

          <div class="col-4 text-end" *ngIf="tvShow.release_date && tvShow.release_date!=null">
            <h3 class="display-3">{{ tvShow.release_date | date: "mediumDate" }}</h3>
          </div>
        </div>

        <p>{{ tvShow.overview }}</p>
      </div>
    </div>


  </mat-dialog-content>
</ng-container>
<ng-template #iframePlayer>
  <iframe
    width="100%"
    height="420"
    [src]="tvShow.trailer_url | safeurl: 'resourceUrl'"
    [title]="tvShow.title"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</ng-template>
