/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Marvel-Font';
  src: url('assets/fonts/MarvelRegular-Dj83.ttf');
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f1f1f1;}

a, a:hover, a:visited{
  text-decoration: none;
  color: #000;
}


.cover-main{
  position: relative;
}

.countdown-overlay{
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: -100px;
  bottom: 50px;
  right: 0;
  left: 0;
}


.modal-padding-0 .mat-dialog-container{
  padding: 0;
}

.model-padding-0 .mat-dialog-content{
  padding: 24px;
}

.d-flex{
  display: flex;
}

.justify-content-sb{
  justify-content: space-between;
}

.justify-content-center{
  justify-content: center;
}
