<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h1 class="display-3">Upcoming Movie</h1>
            <ng-container *ngIf="loadingMovies">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </ng-container>
            <ng-container *ngIf="upcomingMovie && !loadingMovies">
              <a
                href="javascript:;"
                (click)="openDialog(upcomingMovie.id, 'moviedetail')"
              >
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>{{ upcomingMovie.title }}</mat-card-title>
                    <mat-card-subtitle>{{
                      upcomingMovie.release_date | date: "mediumDate"
                    }}</mat-card-subtitle>
                  </mat-card-header>

                  <img
                    mat-card-image
                    [src]="upcomingMovie.cover_url"
                    [alt]="upcomingMovie.title"
                  />
                  <div class="cover-main mat-card-image">
                    <div class="countdown-overlay">
                      <app-count-down [dDay]="upcomingMovie.release_date"></app-count-down>
                    </div>
                  </div>
                  <mat-card-content>
                    <div>
                      {{ upcomingMovie.overview }}
                    </div>
                  </mat-card-content>
                </mat-card>
              </a>
            </ng-container>
          </div>
          <div class="col">
            <h1 class="display-3">Upcoming TV Show</h1>
            <ng-container *ngIf="loadingTvShows">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </ng-container>
            <ng-container *ngIf="upcomingTvShow && !loadingTvShows">
              <a
                href="javascript:;"
                (click)="openDialog(upcomingTvShow.id, 'tvshowdetail')"
              >
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>{{ upcomingTvShow.title }}</mat-card-title>
                    <mat-card-subtitle>{{
                      upcomingTvShow.release_date | date: "mediumDate"
                    }}</mat-card-subtitle>
                  </mat-card-header>
                  <img
                    mat-card-image
                    [src]="upcomingTvShow.cover_url"
                    [alt]="upcomingTvShow.title"
                  />
                  <div class="cover-main mat-card-image">
                    <div class="countdown-overlay">
                      <app-count-down [dDay]="upcomingTvShow.release_date"></app-count-down>
                    </div>
                  </div>
                  <mat-card-content>
                    <div>
                      {{ upcomingTvShow.overview }}
                    </div>
                  </mat-card-content>
                </mat-card>
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h1 class="display-1 card-title">Top Box Office Collection</h1>
        <ng-container *ngIf="loadingBoxOffice">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-container>
        <ul
          class="list-group list-group-flush"
          *ngIf="topBoxOffice && !loadingBoxOffice"
        >
          <li class="list-group-item" *ngFor="let boxOffice of topBoxOffice">
            <div class="d-flex w-100 justify-content-between">
              <h2 class="mb-1 display-3">{{ boxOffice.title }}</h2>
              <small
                >Released:
                {{ boxOffice.release_date | date: "mediumDate" }}</small
              >
            </div>
            <p class="mb-1">
              Box Office: {{ boxOffice.box_office | currency }}
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-body">
        <h1 class="display-1 card-title">TV Show Info</h1>
        <ng-container *ngIf="loadingTvShoInfo">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-container>
        <ul class="list-group" *ngIf="tvShowInfo && !loadingTvShoInfo">
          <li class="list-group-item" *ngFor="let tvShow of tvShowInfo">
            <div class="d-flex w-100 justify-content-between">
              <h2 class="mb-1 display-3">{{ tvShow.title }}</h2>
              <small>{{ tvShow.release_date | date: "mediumDate" }}</small>
            </div>
            <p class="mb-1">
              Season {{ tvShow.number_seasons }} No.of Episode:
              {{ tvShow.number_episodes }}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
